mainmenu "ESP8266 thing configuration"

config	THING_NAME
	string
	default "Actuator" if THING_ACTUATOR='y'
	default "Thermometer" if THING_THERMOMETER_DS18B20='y'

choice
	prompt "Thing type"
	default THING_ACTUATOR

config THING_ACTUATOR
	tristate "Actuator thing"

config THING_THERMOMETER_DS18B20
	tristate "Thermometer thing with DS18b20"
endchoice

source "thing/Kconfig"
